/*
/////////////////////////////////////////////////////////////
               Document CSS
/////////////////////////////////////////////////////////////
*/

body {
   background-color: grey;
}

.container {
   margin-top: 40px;
   background-color: lightgrey;
}

/*
/////////////////////////////////////////////////////////////
               Profile Dashboard CSS
/////////////////////////////////////////////////////////////
*/

#profile-wrapper {
   z-index: 9;
   position: fixed;
   margin-top: 35px;
   /*background-color: black;*/
   background-image:
      radial-gradient(
         rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.79)
      );

   text-align: center;
   color: #D2CECE;
   border: 3px #20C1D2 solid;
   border-radius: 10px;
   display: none;
   padding: 10px;
}

#drop-btn {
   color: grey;
   background-color: #20C1D2;
   border-color: #2F4854;
}

/*
/////////////////////////////////////////////////////////////
               Profile CSS
/////////////////////////////////////////////////////////////
*/

// Pages //
#story-background {
   background-color: black;
}

.mock-page {
   border: 2px black solid;
   font-family: 'Special Elite', cursive;
   background-color: white;
   background-image:
	 linear-gradient(
	   to bottom,
	   white, white 70%, black //#484444
	);
}











//
